* {
    margin-left: 30px;
    margin-top: 10px;
}

.search {
    background-color: whitesmoke;
    color: darkcyan;
    border: 1px solid darkcyan;
    border-radius: 45%;
    height: 30px;
    width: 150px;
    border-width: 2px 4px;
    border-radius: 40px;
}

.x {
    color: white;
    background-color: darkcyan;
    border-radius: 50%;
    border: 1px solid darkcyan;
    height: 45px;
    width: 45px;
}

.account {
    background-color: blue;
    color: white;
    width: 180px;
    height: 50px;
    box-shadow: 3px 3px rgb(37, 36, 36);
}